body {
  background-color: #04394E;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: auto;
  background: rgb(4, 57, 78);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-top: 100px;
  display: none;
}
h1, h2 {
  text-align: center;
  color: #ffffff;
}
/* Menu fixo */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a4f66;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-left { 
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.logo {
  max-width: 120px;
}
.menu-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.menu-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.menu-links a:hover {
  color: rgb(75, 121, 170);
}
.menu-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
}
.menu-right a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu-right a img {
  width: 20px;
  height: 20px;
}
/* Botões de vídeo */
.video-list {
  list-style: none;
  padding: 0;
}
.video-list li {
  margin: 10px 0;
  text-align: center;
}
.video-list a {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(135deg, rgb(75, 121, 170), #2a4f66);
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.video-list a:hover {
  background: linear-gradient(135deg, #2a4f66, rgb(75, 121, 170));
  transform: scale(1.05);
}

/* Media Queries para dispositivos móveis */
@media screen and (max-width: 600px) {
  .menu-links a {
    font-size: 14px;
    padding: 8px;
  }
  .menu-right a {
    font-size: 12px;
  }
}
